* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General styles */

body {
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  font-weight: lighter;
}

p {
  font-size: 1.5rem;
}

h1,
h2,
h3 {
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
  font-weight: bold;
  line-height: 1.2;
}

h2 {
  font-size: 3.25rem;
  color: red;
}

h3 {
  font-size: 1.825rem;
}

.btn {
  color: white;
  background: red;
  border-radius: 2rem;
  min-width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  align-self: center;
  text-align: center;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
}

.btn:hover {
  color: black;
}

section {
  width: 100%;
}

img {
  max-width: 100%;
  display: block;
}

input {
  width: 30rem;
  border: none;
  padding: 1.5rem 0.825rem;
  font-size: 1.5rem;
}

input:focus {
  outline: none;
}

input:hover {
  border: none;
  color: red;
  font-size: 1.6rem;
  border-color: red;
}
input:hover::placeholder {
  color: red;
}

/* Header Section */

header {
  background: white;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: auto;
  z-index: 999;
  margin: -5.375rem 0;
}

.header-container {
  width: 100%;
  max-width: 100rem;
  background-color: transparent;
  display: flex;
  justify-content: space-around;
}

.header-logo {
  margin: 0.5rem 0;
}

.header-logo img {
  width: 100%;
  height: 3.688rem;
  display: block;
}

header ul {
  display: flex;
  align-items: center;
}

header ul > li {
  cursor: pointer;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
  margin-right: 2rem;
}

header ul > li:hover {
  color: red;
}

@media only screen and (max-width: 1100px) {
  header {
    justify-content: flex-start;
  }

  .header-logo {
    margin: 10px 1rem;
  }
  header ul li {
    height: 1.2rem;
  }

  .header-btn {
    display: none;
  }
}

@media only screen and (max-width: 845px) {
  header ul {
    display: flex;
    flex-wrap: wrap;
  }

  @media only screen and (max-width: 550px) {
    header ul {
      padding: 0;
      padding-top: 4rem;
      padding-bottom: 1rem;
      justify-content: space-evenly;
      text-align: left;
      flex-wrap: wrap;
    }
    header ul li {
      margin: auto;
    }
  }
}

/* Hero Section */

.hero-section {
  background: url(/img/Hero-img.webp);
  width: 100%;
  height: 50rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  margin: 5.375rem 0;
}

.hero-container {
  max-width: 120rem;
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(-15%);
}

.hero-text {
  color: red;
  width: 40%;
  min-width: 550px;
  height: auto;
  background: rgba(255, 255, 255, 0.77);
  border-radius: 1rem;
  margin: 5% 5%;
}

.hero-text h2 {
  margin-top: 1rem;
}

.hero-text p {
  color: black;
  font-size: 1.825rem;
  line-height: 1.8;
  padding: 1rem;
}

.hero-btn {
  background: rgba(244, 8, 8, 0.6);
  height: 4.75rem;
  width: 25rem;
  margin: 0 13%;
}

@media only screen and (max-width: 1100px) {
  .hero-container {
    width: 100%;
  }
}

@media only screen and (max-width: 845px) {
  .hero-container {
    padding-top: 5%;
    transform: translateX(0);
  }
}

@media only screen and (max-width: 550px) {
  .header-logo {
    display: none;
  }

  .hero-section {
    height: auto;
    width: 100%;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
    padding-top: 0.5rem;
  }

  .hero-container {
    margin-top: 1rem;
    padding: 0;
  }

  .hero-text {
    margin: 0;
    height: auto;
    min-width: 100px;
    border-radius: 0;
  }

  .hero-text p {
    max-width: 80%;
    padding: 0;
    margin: 1rem auto;
    line-height: 1.5;
  }

  .hero-text,
  .hero-btn {
    width: 100%;
    margin: 0;
  }
}

@media only screen and (max-width: 450px) {
  .hero-text h2 {
    font-size: 2.5rem;
  }
  .hero-text p {
    font-size: 1.5rem;
  }
}

/* Links section */

.links-container {
  display: flex;
  justify-content: space-evenly;
  max-width: 120rem;
  margin: 0 auto 4.25rem;
}

.single-link {
  display: flex;
  flex-direction: column;
  flex-shrink: 5;
  max-width: 16rem;
  padding: 1.5rem 0;
}

.single-link h3 {
  padding: 1rem;
}

.single-link .link-desc {
  text-align: justify;
  height: 15rem;
}

.single-link .link-desc p {
  font-size: 1.25rem;
  line-height: 2;
}

.single-link .btn {
  margin-top: 0.5rem;
}

#gamepad h3 {
  padding-top: 1.875rem;
}

@media only screen and (max-width: 1100px) {
  .links-container {
    flex-direction: column;
  }

  .single-link {
    max-width: 100%;
    justify-content: center;
    align-items: center;
  }

  .single-link img {
    width: 35%;
  }

  .single-link h3 {
    width: 90%;
    margin: 0;
    font-size: 3rem;
  }

  .single-link p {
    width: 90%;
    margin: auto;
    font-size: 2rem;
  }

  .single-link .links-btn p {
    font-size: 3rem;
    text-align: center;
  }
}

@media only screen and (max-width: 550px) {
  .single-link .link-desc {
    height: auto;
    padding-left: 2rem;
  }

  .single-link h3 {
   font-size: 2rem;
  }
  .single-link .link-desc p {
   text-align: left;
  }

  .single-link .btn {
    border-radius: 0;
    padding: 1rem 0;
  }
}

/* Quote section */

.quote-section {
  width: 100%;
  height: auto;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-container {
  display: flex;
  flex-direction: column;
  letter-spacing: 0.15rem;
  padding: 2rem 6rem;
}

.quote-container span {
  font-size: 1.5rem;
  font-weight: lighter;
  align-self: center;
  padding-top: 0.5rem;
}

@media only screen and (max-width: 768px) {
  .quote-container span {
    padding-top: 1rem;
  }
}

@media only screen and (max-width: 550px) {

  .quote-container {
    min-width: 20rem;
    padding: 2rem 1rem;
    font-size: 1rem;
  }
  .quote-container p,
  .quote-container span {
    font-size: 1.25rem;
  }
}

/* Club features section */

.grid-container {
  max-width: 120rem;
  display: grid;
  width: 100%;
  grid-template-areas:
    "impact-image impact-text"
    "numbers-left numbers-right"
    "social-learning diagram"
    "philanthropy-img philanthropy";
  margin: auto;
  margin-bottom: 4rem;
}

.grid-container p,
.grid-container ul {
  font-size: 2rem;
  font-weight: 500;
  padding-top: 2rem;
}

.grid-container .btn {
  text-align: center;
}

.grid-item {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.grid-item .img {
  max-width: 100%;
  height: auto;
  background-position: center;
  background-size: cover;
}

.impact-image-container {
  grid-area: impact-image;
  position: relative;
}

.impact-image-container p {
  color: white;
  font-size: 1.375rem;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}

.impact {
  grid-area: impact-text;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.impact > div {
  /* padding: 4rem; */
  max-width: 80%;
}

.impact > div ul {
  padding-left: 2rem;
}
.impact > div ul > li {
  padding-bottom: 1rem;
}

.numbers {
  height: 16rem;
  font-size: 3.875rem;
  justify-content: space-around;
  text-align: center;
}

.numbers span {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  max-width: 14rem;
  color: black;
}

.single-number span:first-child {
  color: red;
  font-size: 5rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.numbers-left {
  grid-area: numbers-left;
}

.numbers-right {
  grid-area: numbers-right;
}

.social-learning {
  grid-area: social-learning;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
  width: 100%;
}

.social-learning .text {
  max-width: 80%;
}

.social-learning .text p {
  padding-left: 2rem;
  max-width: 30rem;
  margin: auto;
}
.social-learning .text p:last-child {
  padding-bottom: 3rem;
}

.diagram-container {
  grid-area: diagram;
}

.diagram-container img {
  margin: auto;
}

.philanthropy-image-container {
  grid-area: philanthropy-img;
  position: relative;
  margin: auto;
}

.philanthropy-image-container p {
  max-width: 23rem;
  position: absolute;
  color: white;
  font-size: 1.375rem;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}

.philanthropy {
  grid-area: philanthropy;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.philanthropy .text {
  max-width: 80%;
}

.philanthropy .text p {
  padding-left: 2rem;
}

.philanthropy .text p:last-child {
  font-weight: bold;
  padding-bottom: 2rem;
}

@media only screen and (max-width: 1024px) {
  .grid-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    max-width: 100%;
  }

  .grid-item {
    height: auto;
    margin-bottom: 2rem;
  }

  .numbers-left {
    margin-bottom: 0;
  }

  .diagram-container {
    grid-area: diagram;
  }

  .diagram-container img {
    margin: auto;
    width: 54.5rem;
  }
}

@media only screen and (max-width: 500px) {

  .single-number span:first-child {
    font-size: 3rem;
  }

  .single-number span {
    font-size: 1.5rem;
  }

  .grid-container p {
    font-size: 1.5rem;
  }

  .social-learning .text p {
    padding-left: 0;
    text-align: left;
  }

  .philanthropy-image-container p {
    font-size: 1rem;
    width: 15rem;
  }
  .philanthropy .text p {
    padding: 1rem 0;
    text-align: left;
  }
}

/*  Join section */

.join-section {
  color: white;
  font-weight: bold;
  background: rgb(0, 138, 252);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.join-section .btn {
  margin-bottom: 1.5rem;
}

.join-text {
  width: 100%;
  padding: 1rem 0;
}

.join-section h2 {
  color: white;
  font-size: 4rem;
}

.join-section p {
  font-size: 2.5rem;
}

@media only screen and (max-width: 768px) {
  .join-text {
    width: auto;
  }
}

@media only screen and (max-width: 450px) {
  .join-text h2 {
    font-size: 2.5rem;
  }

  .join-text p {
    font-size: 1.5rem;
  }
}

/* Contacts section */
/* Form - left side */

.contacts-container {
  display: flex;
  max-width: 120rem;
  margin: 2rem auto;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 0 auto;
}

form {
  background: transparent;
}

.form-container {
  padding: 0 1rem;
}

.form-item {
  margin: auto;
  margin-top: 3rem;
}

.form-text {
  margin-top: 1rem;
  max-width: 29rem;
}

.form-text h3 {
  font-size: 2.5rem;
  line-height: 1.3;
  text-align: left;
}

.form-text p {
  margin-top: 2rem;
  line-height: 1.5;
}

.single-input {
  border-bottom: 1px solid grey;
}

.single-input:hover {
  border-bottom: 2px solid red;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.checkbox-container span {
  font-size: 1.375rem;
}

/* Customize the label (single-checkbox) */
.single-checkbox {
  display: block;
  position: relative;
  padding-top: 0.5rem;
  padding-left: 35px;
  margin: 12px 0;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

/* Hide the browser's default checkbox */
.single-checkbox .input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  height: 25px;
  width: 150px;
  z-index: 999;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.single-checkbox:hover .input ~ .checkmark {
  /* background-color: #ccc; */
  border: 1px solid red;
}

/* When the checkbox is checked, add a blue background - оставил для примера*/
/* .single-checkbox .input:checked ~ .checkmark {
  background-color: #2196F3;
} */

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.single-checkbox .input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.single-checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 3px 3px 0px;
  transform: rotate(45deg);
}

/* social media - right side */

.addresses-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.address,
.socials {
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
  font-weight: bold;
  font-size: 1.25rem;
}

.address span:first-child,
.socials span:first-child {
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

.social-media-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 30rem;
}

.icon-link {
  text-decoration: none;
  color: black;
}

.icon-link:hover {
  color: red;
}

.single-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  width: 7.5rem;
  height: 7rem;
  margin: 1rem 0.825rem;
  flex-shrink: 1;
}

.single-icon img {
  width: 2.5rem;
  margin-bottom: 1rem;
}

.go-back-link {
  margin: 2rem;
}

@media only screen and (max-width: 980px) {
  .contacts-container {
    display: block;
  }

  form {
    margin-bottom: 4rem;
    width: 100%;
  }

  .form-container {
    padding: 0 1rem;
  }

  .flex-container {
    margin: 0;
    width: 100%;
  }

  .social-media-img {
    width: 100%;
  }
  .social-media-img img {
    width: 100%;
  }
}

@media only screen and (max-width: 450px) {
  .form-text h3 {
    text-align: center;
  }

  .social-media-icons {
    width: 100%;
  }
}

/* Footer */

footer {
  background: rgb(4, 81, 132);
  color: white;
  display: flex;
  justify-content: center;
}

.text-container {
  max-width: 120rem;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  line-height: 1.2;
}

.text-container h3 {
  font-size: 2rem;
  text-align: left;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}
.text-container p {
  font-size: 1.25rem;
  font-weight: 100;
}

.policy {
  width: 35%;
}

.VGCUSA {
  width: 25%;
}

.footer-address a {
  color: antiquewhite;
}

@media only screen and (max-width: 1400px) {
  .text-container {
    justify-content: space-between;
    padding: 1rem 2rem;
  }

  .policy {
    width: 50%;
  }

  .VGCUSA {
    width: 30%;
    display: block;
  }
}

@media only screen and (max-width: 930px) {
  .text-container {
    display: block;
    margin: 2rem;
    padding: 0;
    line-height: 1.2;
  }

  .policy {
    width: 100%;
  }

  .VGCUSA {
    width: 100%;
    margin-left: 0rem;
    margin-top: 1rem;
    display: block;
  }
}

/* General Media Queries */

@media only screen and (max-width: 550px) {
  .btn {
    max-width: 100%;
    width: 100%;
    height: 4rem;
    border-radius: 0;
  }
}
@media only screen and (max-width: 450px) {
  h2 {
    font-size: 2.25rem;
  }

  .grid-container ul {
    font-size: 1.5rem;
  }

  input {
    width: 100%;
    padding: 0;
  }
}
